body{ 
	background: DeepSkyBlue;
	margin: 0;
	width: 99vw;
}

header{
	padding: 10px 0 60px 20px;
	width: 100%;
}

h1{
	margin: 0;
}
h2{
	margin: 0;
}


.title{
	width: 90%;
	float: left;
	display: inline-block;
}

.home{
	width: 9%;
	float: right;
	display: inline-block;
	font-size: 20px;
}


.direct-link{
	margin-left: 10px;
	font-size: 18px;
	color: GhostWhite;
}

.yacs{
	background-color: #ab2328;
	margin: 0;
	width: 100%;
	padding-left: 20px;
}

.cconnects{
	background-color: #057DFF;
	margin: 0;
	width: 100%;
	padding-left: 20px;
}